.Catalog {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 100%);
  grid-auto-rows: 462px;
  grid-gap: 30px;
  margin: 30px 0;
}

.Catalog__banner {
  width: 100%;
  max-width: 332px;
  object-fit: cover;
  object-position: left;
}

@media (min-width: 768px) {
  .Catalog {
    grid-template-columns: repeat(2, calc(100% / 2 - 15px));
  }
}

@media (min-width: 1024px) {
  .Catalog {
    grid-template-columns: repeat(3, calc(100% / 3 - 20px));
  }
}

@media (min-width: 1400px) {
  .Catalog {
    grid-template-columns: repeat(4, calc(100% / 4 - 22px));
  }
}

@media (min-width: 1920px) {
  .Catalog {
    grid-template-columns: repeat(5, calc(100% / 5 - 24px));
  }
}
